.explore{
     display: flex;
     flex-direction: column; 

     gap: 20px;
}
.explore h1{
     color:#262626;
      font-weight: 500;
      place-self: center;
}



.explore-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}

.explore-menu::-webkit-scrollbar{
    display: none;
}

.explore-menu img{
    width: 7.5vw;
    min-width: 80px;
    border-radius: 50%;
    transition: 0.2s;
}
.explore-menu p{
    motion-path: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}

.explore hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2e2;
    border: none;
}

.explore-menu-item .active{
    border: 4px solid tomato;
    padding:2px;
}

@media (max-width:1050px) {
    
    .explore h1{
       max-width: 100%;
       font-size: 15px;
    }
}

@media (max-width:750px) {
    
    .explore h1{
       font-size: 14px;
    }
}